<template>
  <div>
    <nav style="display: flex; gap: 1rem">
      <NuxtLink to="/">Home Page</NuxtLink>
      <NuxtLink to="/movies">Movies</NuxtLink>
      <NuxtLink to="https://vueschool.io" target="_blank">Vue School</NuxtLink>
    </nav>
    <NuxtPage />
  </div>
</template>
