<template>
  <p>{{ message }}</p>
</template>

<script setup lang="ts">
import { computed } from "vue";

const route = useRoute();
const message = computed(
  () =>
    `I'm on team ${route.params.teamSlug} and my user id is ${route.params.userId}`
);
</script>

<style scoped></style>
